<div class="container-fluid">
    <div class="row">
      <div class="col-3 nopadding">
        <div
          class="card"
          [ngStyle]="{ 'background-color': index === i ? 'gray' : 'white' }"
          *ngFor="let item of items; let i = index"
          (click)="viewItem(i)"
        >
          <div class="card-body">
            <span class="card-title" style="font-size: 14px;font-weight: bold;">{{
              item.payload.doc.data().name
            }}</span>
            <!-- <span style="float: left;font-size: 10px;">{{item.payload.doc.data().date}}</span> -->
            <p class="card-text" style="font-size: 12px;">
              {{ item.payload.doc.data().subject }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-9 nopadding">
        <h6 class="p-2" >{{ items[index]?.payload.doc.data().relatedOrder }}</h6>
        <div
          class="card"
          *ngFor="let message of items[index]?.payload.doc.data().messages"
        >
          <div class="card-body">
            <span style="font-weight: bold;" class="card-title">{{
              message?.header
            }}</span
            ><span style="float: right;" class="text-muted">{{
              message?.date
            }}</span>
            <p class="card-text">{{ message?.content }}</p>
            <p class="card-text">
              <small class="text-muted">{{ message?.dateTime }}</small>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label
                style="font-weight: bold;"
                class="card-title"
                for="exampleFormControlTextarea1"
                >Your Response</label
              >
              <textarea
                #response
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                [(ngModel)]="items[index]?.payload.doc.data().responseText"
              ></textarea>
              <small id="emailHelp" *ngIf="success" class="text-success">Response updated successfully.</small>
              <small id="emailHelp" *ngIf="error" class="text-danger" >Something went wrong while updating your response!</small>
              <a
                class="btn btn-primary m-2"
                (click)="updateMessage(response.value)"
                >Submit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  